<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav class="sidebar">
                <div class="sidebar-header">
                    <h3>
                        <span>Cupid Knot</span>
                        
                    </h3>
                    <span style="color: black;" class="sideLine">MATRIMONIAL SERVICES</span>
                    <div class="vl"></div>
                    <div class="vl2"></div>
                    <div class="vlL"></div>
                    <div class="vlL2"></div>
                </div>
                <div class="side-Menu">
                <ul style="list-style: none;">
                    <li >
                        <a href="" class="active">
                            <span class="fa fa-home home1">
            
                            </span>
                            <span >Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-home">
            
                            </span>
                            <span >Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-home">
            
                            </span>
                            <span >Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fa fa-home">
            
                            </span>
                            <span >Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fa fa-home">
            
                            </span>
                            <span >Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fa fa-home">
            
                            </span>
                            <span >Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fa fa-home">
            
                            </span>
                            <span >Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fa fa-home">
            
                            </span>
                            <span >Dashboard</span>
                        </a>
                    </li>
                </ul>
                </div>
            </nav>




        </div>  
<div class="col-md-10">
  <div class="row">
      <div class="col-md-12">
        <div class="main-content">
            <header>
                <div class="search-wrapper">
                    <span class="fa fa-search"></span>
             
               </div>
               <div class="notify">    <span class="fa fa-bell-o"></span></div>
     <div class="settings">    <span class="fa fa-cog"></span></div>
    
    
            
                <div class="user-wrapper">
                <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png"  width="30px" height="30px" alt="">
    
    
                <strong>Admin 1168</strong>
    
                </div>
            </header>
        </div>
      </div>
  </div>
        
     
        <div class="container-fliud">
            <div class="row" style="padding-left:5px;">
                <div class="col-md-9">
                    <div>
                        <h2>OVERVIEW</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3 hover">
                            <div class="card" style="padding:15px;">
                           
                                <p class="" style="color:gray;">Total Users</p>
                           
                          
                       <div>
                                <span>7,123</span>
                                <span style="color:#32CD32; margin-left:15px;" ><strong>+435</strong></span>
                         </div>
                            </div>
                            </div>
                        <div class="col-md-3 hover">
                            <div class="card" style="padding:15px;">
                                <p  style="color: gray;">Activities</p>
                                <div>
                                        <span>7,123</span>
                                        <span style="color:#32CD32; margin-left: 15px;"><strong>+435</strong></span>
                                        </div>
                            </div>
                            </div>

                        

                
                <div class="col-md-3 hover">
                    <div class="card" style="padding:15px;">
                        <p  style="color: gray;">Deposite</p>
                        <div>
                        <span>7,123</span>
                        <span style="color:#32CD32; margin-left: 15px;"><strong>+435</strong></span>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-3 hover">
                    <div class="card" style="padding:15px;">
                        <p style="color: gray;">Usage</p>
                        <div>
                        <span>7,123</span>
                        <span style="color:#32CD32; margin-left: 15px;"><strong>+435</strong></span>
                    </div>
                    </div>
                    </div>
                    <div class="mt-2">
                    <div class="row">
                        <div class="col-md-3 hover">
                            <div class="card" style="padding:15px;">
                           
                                <p style="color: gray;">Total Users</p>
                           
                          
                       <div>
                                <span>7,123</span>
                                <span style="color:#32CD32; margin-left: 15px;"><strong>+435</strong></span>
                         </div>
                            </div>
                            </div>
                        <div class="col-md-3 hover">
                            <div class="card" style="padding:15px;">
                                <p style="color: gray;">Activities</p>
                                <div>
                                        <span>7,123</span>
                                        <span style="color:#32CD32; margin-left: 15px;"><strong>+435</strong></span>
                                        </div>
                            </div>
                            </div>

                        

                
                <div class="col-md-3 hover">
                    <div class="card" style="padding:15px;">
                        <p style="color: gray;">Deposite</p>
                        <div>
                        <span>7,123</span>
                        <span style="color:#32CD32; margin-left: 15px;"><strong>+435</strong></span>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-3 hover">
                    <div class="card" style="padding:15px;">
                        <p style="color: gray;">Usage</p>
                        <div>
                        <span>7,123</span>
                        <span style="color:#32CD32; margin-left: 15px;"><strong>+435</strong></span>
                    </div>
                    </div>
                    </div>


                    </div>
                </div>
                <div class="mt-4">
                <div class="row">
                    <div class="col-md-6 hover"> 
                        <div class="card">
                            <div class="card-header" style="color: gray;">
                                New Order
                              </div>
                              <div>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <td scope="col"><strong>Order ID</strong></td>
                                        <td scope="col"><strong>Amount</strong></td>
                                        <td scope="col"><strong>status</strong></td>
                                        <td scope="col"><strong>Date</strong></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>HTdzFW6vvdT9ld</td>
                               
                                        <td>5000/-</td>
                                        <td style="color: red;"><strong>Cancelled</strong></td>
                                        <td>12-03-22</td>
                                      </tr>
                                      <tr>
                                        <td>HTdzFW6vvdT9ld</td>
                                      
                                        <td>5000/-</td>
                                        <td style="color: red;"><strong>Cancelled</strong></td>
                                        <td>12-03-22</td>
                                      </tr>
                                      <tr>
                                        <td>HTdzFW6vvdT9ld</td>
                                        <td>5000/-</td>
                                        <td style="color: red;"><strong>Pending</strong></td>
                                        <td>12-03-22</td>
                                      </tr>
                                      <tr>
                                        <td>HTdzFW6vvdT9ld</td>
                                    
                                        <td>5000/-</td>
                                        <td style="color: red;"><strong>Cancelled</strong></td>
                                        <td>12-03-22</td>
                                      </tr>
                                      <tr>
                                        <td>HTdzFW6vvdT9ld</td>
                                        <td>5000/-</td>
                                        <td style="color: red;"><strong>Pending</strong></td>
                                        <td>12-03-22</td>
                                      </tr>  
                                    </tbody>
                    
                                  </table>
                                  <hr>
                                  <div>
                                  <span style="color: gray; padding-right: 120px">Showing 5 results at a time</span>
                                  <span class="arrow" >
                                      <i class="fa fa-arrow-left"></i>
                                  </span>
                                  <span style="color: gray;">
                                      1 of 30
                                  </span>
                                  <span class="arrow">
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                                </div>
                              </div>

                        </div>

                    </div>
                    <div class="col-md-6"> 
                        <div class="card hover">
                            <div class="card-header" style="color: gray;">
                                Latest users
                              </div>
                              <div>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <td scope="col" style="color: gray;">profile</td>
                                        <td scope="col"></td>
                                        <td scope="col" style="color: gray;">status</td>
                                        <td scope="col" style="color: gray;">Verified</td>
                                      </tr>
                                    </thead>
                                    <hr width="490%">
                                    <tbody>
                                      <tr>
                                        <th scope="row"><img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image"></th>
                                        <td><strong>New User 1</strong></td>
                                        <td style="color: #32CD32;"><strong>Online</strong></td>
                                        <td style="color: red;"><strong>No</strong></td>
                                      </tr>
                                      <hr width="490%">
                                      <tr>
                                        <th scope="row"><img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image"></th>
                                        <td><strong>New User 1</strong></td>
                                        <td style="color: red;"><strong>Offline</strong></td>
                                        <td style="color: red;"><strong>No</strong></td>
                                
                                      </tr>
                                      <hr width="490%" >
                                      <tr>
                                        <th scope="row"><img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image"></th>
                                        <td><strong>New User 1</strong></td>
                                        <td style="color: #32CD32;"><strong>Online</strong></td>
                                        <td style="color:#32CD32;"><strong>Yes</strong></td>
                                      </tr>
                                    </tbody>
                                    
                                  </table>
                              </div>

                        </div>
                        

                    </div>
                    
                </div>
               </div>
               <div class="col-md-12 mt-3 hover" >
                   <div class="card">
                    <div class="card-header" style="color: gray;">
                       User Wallet Consumptions
                    </div>
                   </div>

               </div>
            </div>
        </div>
                <div class="col-md-3 mt-1" >
                    <div class="card">
                        <div class="card-header"> 
                        <div>
                            <span style="padding-right: 48px;">
                                <i  class="fa fa-calendar"></i>
                            </span>
                            <span style="padding-right: 60px;">
                                last 3 months
                            </span>
                            <span>
                                <i  class='fa fa-angle-down'></i>
                            </span>
                        </div>
                        </div>

                    </div>
                    <div class="card mt-3 hover">
                        <div class="card-header" style="padding:15px; padding-left: 82px;">
                            
                                Activity Log
                             </div>
                             <div style="border-bottom:2px solid rgb(188, 186, 186);margin-left:20px;margin-right: 20px;"></div>
                             <div class="row" style="padding:13px;">
                                 <div class="col-md-2">
                                    <img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image">
                                 </div>
                                 <div class="col-md-8" style="padding-left:23px;">

                                    Adim 2046
                                    <div class="text-with-dots">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nisi 
                                        labore magni temporibus! In iste, a ipsa animi
                                         amet minus quasi laboriosam illum maxime, mollitia, dolores 
                                         deserunt aut accusamus nisi?</div>
                                      
                                </div>
                                <div class="col-md-2">
                                    <div class="dot"></div>
                                      
                                </div>

                             </div>
                             <div style="border-bottom:2px solid rgb(188, 186, 186);margin-left:20px;margin-right: 20px;"></div>

                             <div class="row" style="padding:13px;">
                                <div class="col-md-2">
                                   <img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image">
                                </div>
                                <div class="col-md-8" style="padding-left:23px;">

                                   Adim 2046
                                   <div class="text-with-dots">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nisi 
                                       labore magni temporibus! In iste, a ipsa animi
                                        amet minus quasi laboriosam illum maxime, mollitia, dolores 
                                        deserunt aut accusamus nisi?</div>
                                     
                               </div>
                               <div class="col-md-2">
                                   <div class="dot"></div>
                                     
                               </div>
                               

                    </div>
                    <div style="border-bottom:2px solid rgb(188, 186, 186);margin-left:20px;margin-right: 20px;"></div>
                    <div class="row" style="padding:13px;">
                        <div class="col-md-2">
                           <img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image">
                        </div>
                        <div class="col-md-8" style="padding-left:23px;">

                           Adim 2046
                           <div class="text-with-dots">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nisi 
                               labore magni temporibus! In iste, a ipsa animi
                                amet minus quasi laboriosam illum maxime, mollitia, dolores 
                                deserunt aut accusamus nisi?</div>
                             
                       </div>
                       <div class="col-md-2">
                        <div class="dot"></div>
                          
                    </div>
                       <div class="col-md-2"> </div>
            </div>
            <div style="border-bottom:2px solid rgb(188, 186, 186);margin-left:20px;margin-right: 20px;"></div>
            <div class="row" style="padding:13px;">
                <div class="col-md-2">
                   <img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image">
                </div>
                <div class="col-md-8" style="padding-left:23px;">

                   Adim 2046
                   <div class="text-with-dots">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nisi 
                       labore magni temporibus! In iste, a ipsa animi
                        amet minus quasi laboriosam illum maxime, mollitia, dolores 
                        deserunt aut accusamus nisi?</div>
                     
               </div>
               <div class="col-md-2">
                <div class="dot"></div>
                  
            </div>
               <div class="col-md-2"> </div>
    </div>
    <div style="border-bottom:2px solid rgb(188, 186, 186);margin-left:20px;margin-right: 20px;"></div>
    <div class="row" style="padding:13px;">
        <div class="col-md-2">
           <img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image">
        </div>
        <div class="col-md-8" style="padding-left:23px;">

           Adim 2046
           <div class="text-with-dots">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nisi 
               labore magni temporibus! In iste, a ipsa animi
                amet minus quasi laboriosam illum maxime, mollitia, dolores 
                deserunt aut accusamus nisi?</div>
             
       </div>
       <div class="col-md-2">
        <div class="dot"></div>
          
    </div>
       <div class="col-md-2"> </div>
</div>
<div style="border-bottom:2px solid rgb(188, 186, 186);margin-left:20px;margin-right: 20px;"></div>
<div class="row" style="padding:13px;">
    <div class="col-md-2">
       <img src="https://www.whoa.in/download/doraemon-cartoon-with-sky-background-hd-wallpaperphotos" alt="" class="image">
    </div>
    <div class="col-md-8" style="padding-left:23px;">

       Adim 2046
       <div class="text-with-dots">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nisi 
           labore magni temporibus! In iste, a ipsa animi
            amet minus quasi laboriosam illum maxime, mollitia, dolores 
            deserunt aut accusamus nisi?</div>
         
   </div>
   <div class="col-md-2">
    <div class="dot"></div>
      
</div>

   <div class="col-md-2"> </div>
</div>

      
</div>
   
   <div class="col-md-2"> </div>
</div>

                </div>
           

        </div>
    </div>  </div>
